{% extends "base.html" %}

{% block title %}Trocar Senha{% endblock %}

{% block content %}

<h2>Trocar Senha</h2>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for msg in messages %}
      <p>{{ msg }}</p>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST">
    <input type="password" name="senha_atual" placeholder="Senha atual" required><br><br>

    <input type="password" name="nova_senha" placeholder="Nova senha" required><br><br>

    <input type="password" name="confirmar" placeholder="Confirmar nova senha" required><br><br>

    <button type="submit">Alterar Senha</button>
</form>

{% endblock %}